li {
display: inline;
padding-left: 140px;
padding-right: 100px;
}
iframe:nth-child(1) {
    align-self:center;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
ul {
 display: flex;
 align-items: center;
 justify-content: center;
background: #f3b0ab;
 padding: 8px 24px;
 border-radius: 16px;
}